#mainContent {
    background-color: #79a;
    color: #fff;
    margin: 8vh 15vw;
    padding: 1vh 1vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    box-shadow: 10px 11px 17px rgba(0, 0, 0, 0.7);
    border-radius: 5vmin;
}

#mainContent label {
    font-size: 6vh;
    margin: 15px auto 0px auto;
    padding: 2px;
    font-weight: 500;
}

#mainContent input {
    height: 6vh;
    width: 10em;
    font-size: 3.5vh;
    margin: auto;
    padding: .5vh .5vw;
    background-color: #ddd;
    border-radius: 10px;
}

#output {
    font-size: 10vh;
    margin: auto;
}

#monthsOrYearsSelection {
    display:table;
    margin:0 auto;
    justify-content: center;
    align-content: center;
}

#monthsOrYearsSelection label {
    font-size: 3vh;
    margin: 5px auto 5px auto;
    padding: 1px;
    transition: color 300ms linear;
}

.icon {
    transition: transform .5s ease-in-out;
}