#mainContent {
    background-color: #ddf;
    width: 75vw;
    height: 75vh;
    margin: 3vmin;
    padding: .5vmin;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    box-shadow: 10px 11px 17px rgba(0, 0, 0, 0.7);
    border-radius: 5vh 5vw;
}

#mainContent label {
    font-size: 4vh;
    margin: 10px auto 10px auto;
    padding: 2px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
}

#mainContent input {
    height: 4vh;
    width: 50%;
    font-size: 3.5vh;
    margin: auto;
    padding: .5vmin;
    background-color: #ddd;
    border-radius: 10px;
}

#output {
    font-size: 6vh;
    margin: auto;
}