#mainContent {
    background-color: #29a;
    color: #fff;
    margin: 16vh 16vw;
    padding: .5vh .5vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    box-shadow: 10px 11px 17px rgba(0, 0, 0, 0.7);
    border-radius: 5vmin;
}

#mainContent label {
    font-size: 4vh;
    margin: 15px auto 0px auto;
    padding: 2px;
    font-weight: 500;
}

#mainContent input {
    height: 4vh;
    width: 50%;
    font-size: 3.5vh;
    margin: auto;
    padding: .5vh .5vw;
    background-color: #ddd;
    border-radius: 10px;
}

#output {
    font-size: 6vh;
    margin: auto;
}

#monthsOrYearsSelection {
    display:table;
    margin:0 auto;
}

#monthsOrYearsSelection label {
    font-size: 2vh;
    margin: 5px auto 5px auto;
    padding: 1px;
    transition: color 300ms linear;
}