@tailwind base;

@tailwind components;

#mainContent label {
    @apply text-xl mx-2 p-1 font-bold tracking-tighter select-none;
}

#mainContent input {

    @apply h-8 w-11/12 mx-2 text-lg bg-gray-100 text-gray-900 rounded-lg p-3 mx-1;
}

#monthsOrYearsSelection label {

    @apply text-xs ml-4 mb-2 p-1 transition-colors duration-300;
}

.icon {
    @apply text-xl transition-all duration-300 text-blue-800;
}

@tailwind utilities;